{% extends 'base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<h1 class="title">Editar Perfil</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="field">
        <label class="label">{{ form.username.label }}</label>
        <div class="control">{{ form.username(class="input") }}</div>
    </div>
    <div class="field">
        <label class="label">{{ form.email.label }}</label>
        <div class="control">{{ form.email(class="input") }}</div>
    </div>
    <div class="field">{{ form.submit(class="button is-warning") }}</div>
</form>
{% endblock %}