{% extends 'base.html' %}
{% block title %}Registro{% endblock %}

{% block content %}
<h2>Registro de Usuario</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=30) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=30) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=30) }}
    </p>
    <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=30) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}